body {
  background-color: lightgreen;
  background: -webkit-radial-gradient(green, lightgreen, green);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(green, lightgreen, green);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(green, lightgreen, green);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(green, lightgreen, green);
  /* Standard syntax (must be lasst) */
}

h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 50px;
}

.left {
  float: left;
  width: 50%;
}

.switchRelative {
  position: relative;
}

.switch {
  position: absolute;
  right: -64px;
  top: 20px;
}

.right {
  float: right;
  width: 50%;
}

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.name input {
  background-color: transparent;
  text-align: center;
  border: none;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

.scores {
  font-size: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#ballsLeftTable {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  table-layout: fixed;
}

#ballsLeftTable td {
  border: 3px solid black;
  overflow: hidden;
  width: 125px;
  height: 150px;
  font-size: 85px;
  text-align: center;
  font-weight: bold;
}

#new-game-btn {
  position: absolute;
  right: 110px;
  top: 20px;
  z-index: 1000;
}

#new-game-btn img {
  height: 60px;
  filter: drop-shadow(0 0 3px white);
}

#new-game-btn:hover {
  opacity: 0.8;
}

#info-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

#info-btn img {
  height: 60px;
  filter: drop-shadow(0 0 3px white);
}

#info-btn:hover {
  opacity: 0.8;
}



/*
media query for  landscape screen orientation:
@media screen and (orientation:landscape) {
   body {
      background: white;
   }
}
*/

/* Undo Button */
#undo-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

#undo-btn img {
  height: 60px;
  filter: drop-shadow(0 0 3px white);
}

#undo-btn:hover {
  opacity: 0.8;
}

/* Redo Button */
#redo-btn {
  position: absolute;
  left: 150px;
  top: 20px;
  z-index: 1000;
}

#redo-btn img {
  height: 60px;
  filter: drop-shadow(0 0 3px white);
}

#redo-btn:hover {
  opacity: 0.8;
}

/* Disabled state */
.disabled {
  filter: grayscale(100%) brightness(70%);
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

/* Back Button (Info Page) */
#back-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

#back-btn img {
  height: 50px;
  filter: drop-shadow(0 0 3px white);
}

#back-btn:hover {
  opacity: 0.8;
}

.info-container {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 800px;
  margin: 50px auto;
  padding: 60px 40px 40px 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  position: relative;
  border: 5px solid #004d00;
}